Repository bcgov/nr-frontend-starting-app, pull requests merged in 2022-11, with the labels that each got.

#23 fix: cypress nightly config
  .github/workflows/cypress-nightly.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  cypress.config.ts
  package.json
  yarn.lock
Labels: bug, fix

#25 feat: Applied the new colors
  .github/workflows/pr-open.yml
  src/custom.scss
  src/theme/buttons.scss
  src/theme/colors.scss
  src/theme/dark-theme.scss
  src/theme/light-theme.scss
  src/theme/tags.scss
Labels: enhancement, feature

#26 Feat/adjust components
  src/custom.scss
  src/index.tsx
  src/theme/components-overrides.scss
Labels: source

#27 Feat/apply new typography
  src/assets/font/BCSans-Bold.eot
  src/assets/font/BCSans-Bold.otf
  src/assets/font/BCSans-Bold.ttf
  src/assets/font/BCSans-Bold.woff
  src/assets/font/BCSans-Bold.woff2
  src/assets/font/BCSans-BoldItalic.eot
  src/assets/font/BCSans-BoldItalic.otf
  src/assets/font/BCSans-BoldItalic.ttf
  src/assets/font/BCSans-BoldItalic.woff
  src/assets/font/BCSans-BoldItalic.woff2
  src/assets/font/BCSans-Italic.eot
  src/assets/font/BCSans-Italic.otf
  src/assets/font/BCSans-Italic.ttf
  src/assets/font/BCSans-Italic.woff
  src/assets/font/BCSans-Italic.woff2
  src/assets/font/BCSans-Regular.eot
  src/assets/font/BCSans-Regular.otf
  src/assets/font/BCSans-Regular.ttf
  src/assets/font/BCSans-Regular.woff
  src/assets/font/BCSans-Regular.woff2
  src/custom.scss
  src/theme/type-family.scss
Labels: enhancement

#30 fix: remove webkit/change firefox image
  .github/workflows/cypress-nightly.yml
Labels: bug, fix
