Repository bcgov/nr-frontend-starting-app, pull requests merged in 2022-10, with the labels that each got.

#19 test: init cypress and create smoke tests
  .eslintrc.json
  .gitignore
  README.md
  cypress.config.ts
  cypress/.eslintrc.json
  cypress/e2e/smoke-test/main-page.cy.ts
  cypress/e2e/smoke-test/user-page.cy.ts
  cypress/fixtures/messages.json
  cypress/fixtures/user.json
  cypress/global.d.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  yarn.lock
Labels: enhancement

#22 ci: create cypress workflow nigthly and smoke
  .github/workflows/cypress-nightly.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  README.md
Labels: enhancement, ci

#20 Feat/apply carbon components
  package.json
  src/App.css
  src/__test__/components/BCHeader.test.tsx
  src/__test__/components/Card.test.tsx
  src/__test__/components/Footer.test.tsx
  src/__test__/components/FooterBox.test.tsx
  src/__test__/components/FooterLink.test.tsx
  src/__test__/components/Header.test.tsx
  src/__test__/components/HeaderBanner.test.tsx
  src/__test__/components/HeaderBox.test.tsx
  src/__test__/components/HeaderImage.test.tsx
  src/__test__/components/HeaderTitle.test.tsx
  src/__test__/components/Label.test.tsx
  src/__test__/components/LoadingButton.test.tsx
  src/__test__/components/TextInput.test.tsx
  src/__test__/components/UserTable.test.tsx
  src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  src/__test__/components/__snapshots__/Card.test.tsx.snap
  src/__test__/components/__snapshots__/Footer.test.tsx.snap
  src/__test__/components/__snapshots__/FooterBox.test.tsx.snap
  src/__test__/components/__snapshots__/FooterLink.test.tsx.snap
  src/__test__/components/__snapshots__/Header.test.tsx.snap
  src/__test__/components/__snapshots__/HeaderBanner.test.tsx.snap
  src/__test__/components/__snapshots__/HeaderBox.test.tsx.snap
  src/__test__/components/__snapshots__/HeaderImage.test.tsx.snap
  src/__test__/components/__snapshots__/HeaderTitle.test.tsx.snap
  src/__test__/components/__snapshots__/Label.test.tsx.snap
  src/__test__/components/__snapshots__/LoadingButton.test.tsx.snap
  src/__test__/components/__snapshots__/TextInput.test.tsx.snap
  src/__test__/components/__snapshots__/UserTable.test.tsx.snap
  src/components/BCHeader/index.tsx
  src/components/Card/index.tsx
  src/components/CardLoader/index.tsx
  src/components/Footer/index.tsx
  src/components/FooterBox/index.ts
  src/components/FooterLink/index.ts
  src/components/Header/index.tsx
  src/components/HeaderBanner/index.tsx
  src/components/HeaderBox/index.tsx
  src/components/HeaderImage/index.tsx
  src/components/HeaderTitle/index.tsx
  src/components/Label/index.tsx
  src/components/LoaderBox/index.tsx
  src/components/LoadingButton/index.tsx
  src/components/LoadingButton/styles.css
  src/components/TextInput/index.tsx
  src/components/UserTable/index.tsx
  src/custom.scss
  src/layout/PublicLayout/index.tsx
  src/modules.d.ts
  src/reportWebVitals.ts
  src/views/Form/index.tsx
  src/views/Form/styles.css
  src/views/Home/index.tsx
  src/views/Table/index.tsx
  yarn.lock
Labels: enhancement, coverage, source

#21 fix tests to match the carbon update
  cypress.config.ts
  cypress/e2e/smoke-test/main-page.cy.ts
  cypress/e2e/smoke-test/user-page.cy.ts
  cypress/fixtures/messages.json
  cypress/fixtures/titles.json
  cypress/fixtures/user.json
  cypress/support/commands.ts
  cypress/tsconfig.json
Labels: enhancement
