Repository bcgov/nr-frontend-starting-app, pull requests merged in 2022-12, with the labels that each got.

#28 feat: add keycloak authentication
  .eslintrc.json
  .github/openshift/deploy.frontend.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .gitignore
  Dockerfile
  README.md
  jest.config.js
  package.json
  public/index.html
  src/App.tsx
  src/__test__/App.test.tsx
  src/__test__/components/BCHeader.test.tsx
  src/__test__/components/UserTable.test.tsx
  src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  src/__test__/components/__snapshots__/UserTable.test.tsx.snap
  src/components/BCHeader/index.tsx
  src/components/BCHeader/styles.css
  src/components/Logout/index.tsx
  src/components/SilentCheckSso/index.tsx
  src/components/UserTable/index.tsx
  src/contexts/AuthContext.tsx
  src/env.ts
  src/index.tsx
  src/keycloak.ts
  src/layout/PublicLayout/index.tsx
  src/layout/PublicLayout/styles.css
  src/routes/ProtectedRoute.tsx
  src/service/FetchApi.ts
  src/service/GetExceptionResponse.ts
  src/service/KeycloakService.ts
  src/types/KeycloakUser.ts
  src/types/LoginProviders.ts
  src/views/Form/index.tsx
  src/views/Home/index.tsx
  src/views/Landing/index.tsx
  src/views/Table/index.tsx
  yarn.lock
Labels: feature, coverage, source

#35 fix: business bceid idp hint value
  src/types/LoginProviders.ts
  src/views/Landing/index.tsx
Labels: source, fix

#34 ci(sonar): specify source and test folders
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: ci
